services:
  db:
    image: ghcr.io/whatfck/unishop-database:v0.1
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    image: ghcr.io/whatfck/unishop-backend:v0.1
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=unishop_db
      - DB_USERNAME=unishop_user
      - DB_PASSWORD=unishop_password
    depends_on:
      - db

  frontend:
    image: ghcr.io/whatfck/unishop-frontend:v0.1
    ports:
      - "5174:5174"
    environment:
      - VITE_API_URL=http://100.121.170.2:8080   # <- Ajusta a tu backend real
    depends_on:
      - backend

  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    ports:
      - "8081:8080"
    environment:
      - SWAGGER_JSON_URL=http://100.121.170.2:8080/v3/api-docs
    depends_on:
      - backend

volumes:
  db_data:
