services:
  db:
    image: ghcr.io/whatfck/unishop-database:v0.1
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    image: ghcr.io/whatfck/unishop-backend:v0.1
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=unishop_db
      - DB_USERNAME=unishop_user
      - DB_PASSWORD=unishop_password
    depends_on:
      - db

volumes:
  db_data:
